body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.bg-login-register {
    background-image: url(../../assets/bg_login.png);
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.side-image {
    background-color: #f4e9ec;
    width: 400px;
    height: auto;
    object-fit: cover; 
}